NODE_ENV=production

#== APP
PORT=4000
API_VERSION=v1.0.0

#== DB
POSTGRES_HOST=ep-sparkling-queen-24385394-pooler.us-east-1.postgres.vercel-storage.com
POSTGRES_PORT=5432
POSTGRES_USERNAME=default
POSTGRES_PASSWORD=DuPBW0JC1ANw
POSTGRES_DATABASE=verceldb
